.appointment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .appointment-table th, .appointment-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .appointment-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .appointment-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .appointment-table img {
    border-radius: 4px;
  
  }

  .delete-btn {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    color: darkred;
  }
  
  