.navbar {
  background: linear-gradient(to right, #BDBED8, #525498);
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center; /* Aligner l'image et le texte sur la même ligne */
  gap: 10px; /* Ajouter un petit espace entre l'image et le texte */
}

.image img {
  width: 40px; /* Réduire la taille de l'image */
  height: 40px;
  object-fit: contain;
}

.health {
  color: #5a4f8f;
  font-size: 24px;
  font-weight: bold;
}

.care {
  color: #5a4f8f;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 30px;
  background: linear-gradient(to right, #8b8181, #7b7b9b);
  padding: 10px 20px;
  border-radius: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 5px 10px;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #5a4f8f;
}

.login-btn {
  background: rgb(115, 104, 162);
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.login-btn:hover {
  background: rgb(100, 90, 140);
}
